body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 99%;	
}

span {
	color: lightblue;
}

.link-topo {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

.container-topo {	
	top: 0;	
	position: fixed;	
	background-color: #fff;
	height: 45px;
	width: 100%;
	display: flex;		
	flex-flow: row nowrap;	
	align-items: center;
	justify-content: space-around;
}

.menu {	
font-size: 22px;	
	width: 50%;
	margin-right: 70%;
}

.itens {	
	width: 19%;
	margin-left: 130%;
}

.primeira-divisao {
	display: flex;
	width: 99%;
	height: 600px;
	background-image: url("../assets/img-fundo.jpg");
	background-size: cover;
	align-items: center;	
	justify-content: center;
}
	
.titulo {	
	padding: 2px;
	background-color: hsla(240, 40%, 50%, 0.5);
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;		
	height: 200px;
	width: 600px;
	border: solid 1px white;
	border-radius: 5px;
	flex: 0 0 auto;
}

.titulo p {
	margin-bottom: 6px;
	font-weight: bold;
	color: white;
	font-size: 33px;
}
.titulo h2 {
	margin-top: 2px;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
	font-size: 54px;	
}

.titulos {
	color: gray;
	width: 99%;
	display: flex;	
	align-items: center;	
	justify-content: center;
	flex-flow: column nowrap;
	margin-bottom: 10px;
}

.titulos h2 {
	font-size: 30px;	
	padding-top: 20px;
	font-weight: unset;
}

.titulos p {
	font-size: 20px;	
	margin: 2px;	
}

.container-imagens {
	display: flex;		
	

}

.container-imagens a {
	text-decoration: none;
	color: gray;
	border-bottom: solid 3px lightgreen;	
}

.imagem1 {
	height: 53%;
	width: 35%;
	flex-flow: column;
	margin: 10px;
	
}

.imagem2 {
	height: 33%;
	width: 33%;
	flex-flow: column;
	margin: 10px;
	
}

.imagem3 {
	height: 33%;
	width: 29%;
	flex-flow: column;
	margin: 10px;
	
}

.container-apresentacao {	
	display: flex;	
	width: 99%;
	height: 300px;
	flex-flow: row wrap;				
	align-items: center;
	align-content: space-between;
}

.pousada {	
	width: 550px;
	height: 150px;	
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 80px;
}
.pousada img {	
	height: 130px;
	width: 110px;
}

.quartos {	
	width: 550px;
	height: 150px;	
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 80px;
}
.quartos img {	
	height: 130px;
	width: 110px;
}

.alimentacao {
	width: 550px;
	height: 150px;	
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 80px;	
}
.alimentacao img {
	height: 130px;
	width: 110px;
}

.recepcao {
	width: 550px;
	height: 150px;	
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 80px;
}
.recepcao img {
	height: 130px;
	width: 110px;
	margin-left: 222px;
}

.rodape {
	color: white;
	width: 99%;
	height: 110px;
	background-color: green;	
	display: flex;	
	align-items: center;
	align-content: space-around;
	flex-flow: row nowrap;
}

.rodape a {		
	text-decoration: none;
	color: white;	
}
.conteudo {
	border-right: solid 1px white;
	border-left: solid 1px white;
}


.conteudo h4 {
	font-size: 20px;		
	margin-left: 5px;
	margin-right: 10px;
}
.conteudo p {	
	font-size: 16px;
	margin-left: 10px;
	margin-right: 5px;
}

.copy {
	
	width: 230px;
	height: 90px;

}
.conteudo img {
	width: 30px;
	height: 30px;
	margin-left: 6px;
	margin-right: 6px;
}

.imgfundo {	
	display: flex;
	height: 200px;
	width: 100%;	
	background-image: url("../assets/img-fundo.jpg");
	background-repeat: no-repeat;	
  	background-size: auto;
  	padding-bottom: 30px;	
}


.quarto-informacoes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quarto-informacoes li {
  width: 25%;
  text-align: left;
  margin-top: 10px;
}



